.container {
  display: flex;
  flex-direction: column;
  height: auto;

  padding: 2rem;
}
.wrapperInputs {
  margin: auto;
  width: 100%;
  margin-bottom: 4rem;
}
.textInputLabel {
  color: var(--primaryText);
  text-transform: capitalize;
}
.textInput {
  color: var(--main-text-color);
}
