
.container{
    display: flex;
    flex-direction: column;
    height: auto;
  
    padding :2rem
}
.wrapperInputs {
    padding: 2rem;
    width: 480px;
    border-radius:10px ;
    margin: 2rem auto;
    background: var(--secondary-bg-color);
 
  }
  .textInputLabel{
    color : var(--main-text-color);
    text-transform: capitalize;
  }
  .textInput{
      color : #fff
  }