.isActive{
    color :  var(--primaryText);
    border-radius: 1px solid grey;
}
.isntActive{
    color : var(--secondary-text-color)
}
.headBar{
    background-color: var(--primaryLight);
    color : var(--primaryText)
}